In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Carregar arquivo para um dataframe
df_exames = pd.read_csv('./datasets/exame_diabetes.csv')
df_exames.head()

   id_paciente genero  idade  peso  altura  resultado
0            1      M     46    83     165         98
1            2      F     23    83     164         82
2            3      M     39    71     154         93
3            4      F     26   103     165         95
4            5      M     27    55     176        100

In [17]:
df_exames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_paciente  100 non-null    int64
 1   genero       100 non-null    object
 2   idade        100 non-null    int64
 3   peso         100 non-null    int64
 4   altura       100 non-null    int64
 5   resultado    100 non-null    int64
dtypes: int64(5), object(1)
memory usage: 4.8+ KB

In [18]:
# Verificar se os dados estão corretos
df_exames['genero'].unique()

array(['M', 'F'], dtype=object)

In [19]:
# A dimensão paciente não faz sentido para a nossa análise e podemos remover ela
df_exames.drop(columns=['id_paciente'], axis=1, inplace=True)

In [20]:
df_exames.head()

  genero  idade  peso  altura  resultado
0      M     46    83     165         98
1      F     23    83     164         82
2      M     39    71     154         93
3      F     26   103     165         95
4      M     27    55     176        100

In [21]:
# A dimensão "genero" poderia ser trocada por um número, mas isso representaria um peso, que não é o caso
# Trocar por números funciona bem em casos que podem ser ordenados, como escolaridade por exemplo.
# Para trocar neste caso, de uma variável categórica de mesmo grau de importância, podemos fazer o "One-Hot Encoding"
# Ou seja, transformar a variável categórica em uma matriz de 0 e 1

df_exames = pd.get_dummies(df_exames, columns=["genero"], dtype='int64')
df_exames.head()

# Agora temos duas colunas numéricas, de mesmo peso para fazer nossa análise

   idade  peso  altura  resultado  genero_F  genero_M
0     46    83     165         98         0         1
1     23    83     164         82         1         0
2     39    71     154         93         0         1
3     26   103     165         95         1         0
4     27    55     176        100         0         1