# Algoritmos Supervisionados

## Regressão linear simples

### Etapas do projeto
<ul>
    <li><input type="checkbox"> 01 > Carregar os dados</li>
    <li><input type="checkbox"> 02 > Realizar EDA</li>
    <li><input type="checkbox"> 03 > Preparar Dataset para treino e teste</li>
    <li><input type="checkbox"> 04 > Treinar modelo</li>
    <li><input type="checkbox"> 05 > Validar modelo
        <ul>
            <li><input type="checkbox"> Métricas</li>
            <li><input type="checkbox"> Análise de resíduos</li>
        </ul>
    </li>
    <li><input type="checkbox"> 06 > Salvar modelo</li>
    <li><input type="checkbox"> 07 > Entregar modelo via API</li>
</ul>

In [1]:
# Import required libs
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from scipy.stats import shapiro, kstest, probplot
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot

# 01 > CARREGAR OS DADOS

In [2]:
df_pontuacao = pd.read_csv('./datasets/pontuacao_test.csv')
df_pontuacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   horas_estudo     101 non-null    float64
 1   pontuacao_teste  101 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

In [3]:
df_pontuacao.head(10)

   horas_estudo  pontuacao_teste
0           1.1               30
1           2.0               55
2           2.5               60
3           3.6               75
4           4.2               85
5           5.0              100
6           5.5              115
7           6.1              120
8           6.5              130
9           7.2              145

# 02 > Realizar o EDA

In [5]:
# Medidas estatísticas das variáveis
df_pontuacao.describe()

       horas_estudo  pontuacao_teste
count    101.000000       101.000000
mean      28.604950       455.000000
std       14.116128       221.385411
min        1.100000        30.000000
25%       16.500000       270.000000
50%       30.900000       465.000000
75%       41.800000       655.000000
max       46.900000       800.000000